@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@500&display=swap');
.dynamic{
    white-space: nowrap;
    overflow: hidden;
    letter-spacing: 5px;
    border-right: 2px solid orange;
    animation: typing 4s steps(30,end) infinite;
    
}
.home{
    min-width: 100%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}
.title{
    margin: 9vw; 
}
.title p{
    line-height: 50px;
}
.button{
    border: none;
    margin-top: 25px;
    padding: 10px;
    border-radius: 12px;
    background-color: blue;
    color: white;
    font-size: 18px;
    letter-spacing: 1px;
    cursor: pointer;
    font-family: 'Mukta', sans-serif;
}
.pic{
    width: 30%;
    margin-top: 20px;
    margin-right:20px ;
}
.pic img{
    width:100% ;
}
.wave{
    animation: wave-animation 2.1s infinite;   
}
@media (max-width:300px){
.home{
    margin-bottom: 100px;
    flex-direction: column;   
}
.pic{
    margin: auto;
    margin-bottom: 30px;
    width: 60%;
}

}
@keyframes typing{
    0%{
        width: 0%;
    }
    100%{
        width: 100%;
    }
}